body {
	background-image:url('bg.png');
	font-family:Times, Helvetica, Arial, sans-serif;
	font-size:100%;
	color:#000000;
	margin:20px auto;
	text-align:left;
	width:963px;
}

header {
	display:block;
	position:relative;
	text-align:left;
	color:#ffffff;
	margin:0px;
	padding: 10px;
	border:1px solid #e7e2d7;
	border-top-left-radius:0.8em;
	border-top-right-radius: 0.8em;
	border-bottom-left-radius: 0.0em;
	border-bottom-right-radius: 0.0em;
	background:#4C4B4B;
	
}

nav {
	display:block;
	float:left;
	position:relative;
	width:200px;
	text-align:left;
	padding:10px;
	margin:0px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	background:#eeffff;
}
.nav ul {
  margin: 0; 
  padding: 0;
  width:200px;
  list-style-type: none;
}
.nav ul li a   {
  border-bottom: 1px solid #CCC;
  text-decoration: none;
  color: white; 
  padding: 10.5px 11px;
  background-color: #005555;
  display:block;
}
.nav ul li a:visited 
{
color: white;
}
.nav ul li a:hover, .nav ul li .current {
color: white;
background-color: #5FD367;
}
.login{
	top: calc(50% - 75px);
	width: 200px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 180px;
	height: 30px;
	background: transparent;
	border: 1px solid #B0B0B0 ;
	border-radius: 2px;
	color: #000;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 2px;
}

.login input[type=password]{
	width: 180px;
	height: 30px;
	background: transparent;
	border: 1px solid #B0B0B0;
	border-radius: 2px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 2px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 70px;
	height: 35px;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 2px;
	color: #a18d6c;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}	

article {
	position:relative;
	width:720px;
	float:right;
	text-align:left;
	top: 0px;
	margin: 0px;
	left: 0px;
	padding: 10px;
	background: #ffeeff;
	color: #000000;
	text-align: justify;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding-bottom:32767px; 
	margin-bottom:-32767px;
}
article header {
	display: inline;
	border: 0px;
	padding: 0px;
	color:#000000;
}	
article footer {
	display: inline;
	border: 0px;
	padding:0px;
}

footer {
	display:block;
	clear:both !important;
	background:#4C4B4B;
	color:#ffffff;
	margin: 0px;
	padding:10px;
	border:1px solid #e7e2d7;
	border-bottom-left-radius: .8em;
	border-bottom-right-radius: .8em;
	border-top-right-radius: .0em;
	border-top-left-radius: .0em;
}
#container {
		overflow:hidden;
		clear:both;
}
.register {
	margin-left: 25%;
    margin-right:25%;
    width: 100%;
}
.register input{
	width: 260px;
	height: 25px;
	margin-top:5px;
	background: #fff;
	border: 2px solid #cccccc;
	border-radius: 2px;
	color: #a18d6c;
	font-family: sans-serif;
}
tr{
	width: 20px;
	height:10px;
	color:#000000;
	text-align:center;
	background:#ffffff;
	border:1px solid #e7e2d7;
	border-bottom-left-radius: .4em;
	border-bottom-right-radius: .4em;
	border-top-right-radius: .4em;
	border-top-left-radius: .4em;
}
